#leftLogo
{
	float: left;
	top: 0px;
	left: 0px;
	height: 83px;
	width: 269px;
	z-index: 10000;
	margin: 0;
	background-image: url(../images/banner_left.jpg);
	background-repeat: no-repeat;
}

#rightLogo
{
	float: left;
	top: 0px;
	left: 0px;
	height: 83px;
	width: 269px;
	z-index: 10000;
	margin: 0;
	background-image: url(../images/banner_right.jpg);
	background-repeat: no-repeat;
}

#inferno a {
	float:left;
	width: 206px;
	height: 83px;
	background: url(../images/banner_middle.jpg) no-repeat left top;
	display: block;
	overflow: hidden; /* For nested divs in Safari */
}	

/* IE 5 hack */
#inferno a {
	overflow: hidden;
	} 
/* end hack */

#inferno a:hover { 
	background-position: -206px 0px; 
	}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 24px; 
	font-weight: bold; 
	color: #660000; 
	padding-right: 3px; 
	padding-left: 3px; 
	text-align: center
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	color: #666666; 
	padding-right: 3px; 
	padding-left: 3px
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #000000; 
	padding-right: 3px; 
	padding-left: 3px
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	padding-right: 3px; 
	padding-left: 3px
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	padding-right: 3px; 
	padding-left: 3px
}
a {
	color: #990000;
	text-decoration:underline;
}
#mainBody {
	width: 780px;
	padding-top: 10px;
}
table, td, tr {
	border: 1px solid #000000;
	border-collapse: collapse;
	padding: 5px;
}